
.container {
    margin:0 auto; 
    width: 1000px; 
    border: 1px solid grey;
    padding: 3%;
    height: 70%;
 }
.navigation .logo {
    display: flex;
    justify-content: flex-end;
}
.navigation{
     display: flex;
     width: 1000px;
 }

 .topcontent{
     display: flex;
     flex-direction: column;
 }

header nav a {
    margin-right: 40px;
    font-size: 20px;
    color: gray;
    text-decoration: none;
    margin-top: 10px;
    justify-content: space-around;

  }
header{
    display: flex;
    flex-direction: row;
}
nav {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: gray;
    text-decoration: none;
  }

.logo{
    font-size: 100px;

}

.navigation nav a:hover {
    text-decoration: underline;
  }
  
header nav a:first-child {
    margin-left: 0;
  }

header .logo {
    margin-top: 10px;
  }

.line{
    color:black;
    size: 100px;
}
  
.content .textcontent {
    display:flex;
    flex-direction: ;
    justify-content: space-evenly;
    border-top: solid black 1px;
    width: 41%;
    margin: 15px 40px 40px 15px;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(238, 238, 238);
    align-items: flex-start;        
    flex-flow: row wrap;
}

.facts{
    display:flex;
    margin-bottom: 7%;
    margin-top: 5%;
}

.factscontent {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button {
    text-size: 200px;
    padding: 10px 40px;
    margin: 10px 0px 10px 0px;
    border-radius: 4px;
    background-color: white;
    color: black;
    display: flex;
}

.lowerimg{
    display: flex;
}
.content{
    display: flex;
    margin-bottom: 3%;
}

.body {
    flex-basis: 50%;
    flex-flow: row wrap;
}

.flex{
	flex-wrap:wrap;
    display: flex;
    width: 110%;
   
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    font-size:20px;
    display: flex;
}

.p {
    font-size:20px;
    display:flex;
    align-items: flex-start;
    margin: 5px 10px 0px;
}

p {
    font-size:20px;
}

.copyright{
    display:flex;
    justify-content: center;
}

.list{
    list-style-position: inside;
}
